@model IEnumerable<cdStore.Models.Cd>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@* This is the search input form.  *@
<form asp-controller="Cd" asp-action="Index">
    <p>
        Title: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CdName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artist)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CdName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artist.ArtistName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CdId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CdId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CdId">Delete</a>|
                 @* When the user press the link to loan cd, an id and name of the cd will be sent in the request and the view will be the creae view *@
                <a asp-controller="User" asp-action="Create" asp-route-id="@item.CdId" asp-route-name="@item.CdName">Loan</a>
            </td>
        </tr>
}
    </tbody>
</table>
